body {
    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
    font-family: Segoe UI, sans-serif;
}

.main-title {
    text-align: center;
    color: white;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 25px;
}

.card {
    background: rgba(255, 255, 255, 0.18);
    padding: 30px;
    border-radius: 16px;
    max-width: 450px;
    margin: auto;
    box-shadow: 0 8px 25px rgba(0,0,0,0.25);
}

.card-center-text {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    color: #000;
    margin-bottom: 20px;
}

.stButton button {
    width: 100%;
    background: linear-gradient(90deg, #00c6ff, #0072ff);
    color: white;
    font-size: 18px;
    padding: 10px;
    border-radius: 10px;
}

.result {
    margin-top: 20px;
    padding: 15px;
    background: #00ffcc;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
}

.footer {
    text-align: center;
    margin-top: 40px;
    color: #ddd;
    font-size: 13px;
}
